.Dallas {
  .BackgroundColor {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
  .BackgroundImage {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
    background-repeat: no-repeat;
    background-position: 0 25%;
    background-size: cover;
  }
  .JumboImage {
    position: relative;
    margin-bottom: 1rem;

    height: 20vh;
    min-height: 150px;
    max-height: 400px;
    @media (min-width: 768px) {
      height: 40vh;
      min-height: 400px;
    }

    .DowntownDaytimeColor {
      background-color: #2962ad;
    }

    .DowntownDaytimeImage {
      background-image: url('../images/downtown-daytime-750w.jpeg');
      @media (min-width: 768px) {
        background-image: url('../images/downtown-daytime.jpeg');
      }
    }
  }

  .Thing {
    margin-bottom: 1rem;
    h4 {
      text-align: center;
    }
    .Image {
      max-height: 10rem;
      overflow: hidden;
    }
    .Credit {
      text-align: center;
      font-size: 80%;
      opacity: 80%;
    }
    .ExternalLink {

    }
  }

  .MoreLink {
    text-align: right;
  }
}
