.Location {
  .Logo {
    [data-bs-theme='dark'] & {
      background-color: var(--damit-gray-500);
      opacity: .75;
    }
  }
  .Map {
    margin-bottom: 1rem;

    .Dimmer {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 2;
      opacity: 0.3;
      background-color: transparent;

      [data-bs-theme='dark'] & {
        background-color: black;
      }
    }
  }
}
