.Location {
  .Logo {
    [data-bs-theme='dark'] & {
      background-color: var(--damit-gray-500);
      opacity: .75;
    }
  }
  .Map {
    [data-bs-theme='dark'] & {
      filter: brightness(65%);
    }

    margin-bottom: 1rem;
  }
}
