.Schedule {
  p {
    text-align: center;
  }
  .Event {
    margin-top: 0.5rem;
    .Date {
      text-align: left;

      h4 {
        padding: 0.5rem 1rem;
        margin: 0 -1rem;
        background-color: var(--damit-purple);
        color: var(--damit-gray-100);

        [data-bs-theme='dark'] & {
          color: var(--damit-gray-400);
        }
      }
    }
    .Detail {
      text-align: left;
      p {
        text-align: left;
        margin-bottom: 0.5rem;
      }
    }
    .Date + .Detail {
      padding-top: 0.75rem;
    }
    .Time {
      text-align: right;
    }
    @media(min-width: 768px) {
      margin-bottom: 1rem;
      .Date {
        h4 {
          padding: 0;
          margin: 0;
          background-color: inherit;
          color: inherit;
        }
      }
      .Detail {
        margin-left: auto;
        p {
          margin-bottom: 0;
        }
      }
      .Date + .Detail {
        padding-top: 0;
      }
    }
  }
}

