.Sponsors {
  margin-top: 1rem;
  .Sponsor {
     padding: 0 1rem 1rem;

     .Placeholder {
       font-size: 450%;
       opacity: .75;
       width: 35vw;

       @media(min-width: 768px) {
         width: 20vw;
       }
     }

    .Logo {
      height: auto;
      max-width: 38vw;

      @media(min-width: 768px) {
        max-width: 21vw;
      }
    }
  }
}
