.Sponsors {
  margin-top: 1rem;
  .Sponsor {
    //padding: 1rem;

    .Logo {
      height: auto;
      max-width: 40vw;
      padding: 1rem;
      margin: 0 0.5rem;

      @media(min-width: 768px) {
        max-width: 30vw;
        [data-bs-theme='dark'] & {
          padding: 2rem;
        }
      }

      [data-bs-theme='dark'] & {
        background-color: var(--damit-gray-500);
      }
    }
  }

}
