@import 'damit-bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons.min.css';

body {
  overflow-x: hidden;
  position: relative;

  --damit-title-font-family: Oswald, var(--damit-font-sans-serif);

  .navigation {

    .navbar {
      background-color: var(--damit-green-bg-subtle);

      .nav-item:hover {
        background-color: var(--damit-green);
      }

      @media (min-width: 992px) {
        background-image: url('../images/beaver-head.png');
        background-repeat: no-repeat;
        background-position: 1rem 0;
        background-size: contain;

        [data-bs-theme='dark'] & {
          background-image: url('../images/beaver-head-dimmed.png');
        }

        #navbarContent {
          margin-left: 6rem;
        }
      }
    }
  }

  section {
    .section-heading {
      font-family: var(--damit-title-font-family);
      font-variant-caps: small-caps;
      text-align: left;
      padding: 1rem 0.5rem;
      margin: 0 -1rem 1rem;

      @media(min-width: 768px) {
        text-align: center;
      }

      background-color: var(--damit-section-heading-bg);

      color: var(--damit-gray-100);
      [data-bs-theme='dark'] & {
        color: var(--damit-gray-400);
      }
    }

    margin: 0 1rem;

    .external-link-indicator {
      padding-left: 0.5rem;
    }
  }

  footer {
    text-align: center;

    .footer-image {
      opacity: 0.85;
      background-color: var(--damit-gray-400);

      [data-bs-theme='dark'] & {
        opacity: 0.75;
        background-color: var(--damit-gray-500);
      }
    }

    p {
      opacity: 0.75;
      font-size: 90%;
      margin: 1rem 0;

      a {
        font-size: 100%;
        color: var(--damit-body-color);
        border-left: 1px solid var(--damit-secondary-text-emphasis);
      }

    }
  }
}
