@import 'damit-bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons.min.css';

body {
  --damit-title-font-family: Oswald, var(--damit-font-sans-serif);

  .navigation {

    .navbar {
      background-color: var(--damit-green);
      --damit-navbar-color: var(--damit-gray-100);
      --damit-navbar-hover-color: var(--damit-body-color);
      --damit-navbar-active-color: var(--damit-body-color);

      .nav-item:hover {
        background-color: var(--damit-primary-bg-subtle);
        opacity: .6;
      }

      //.home-link {
      //  height: 2rem;
      //}

      @media (min-width: 768px) {
        background-image: url('../images/beaver_head.png');
        background-repeat: no-repeat;
        background-position: 1rem 0;
        background-size: contain;

        #navbarContent {
          margin-left: 6rem;
        }
      }
    }
  }

  section {
    .section-heading {
      font-family: var(--damit-title-font-family);
      font-variant-caps: small-caps;
      text-align: left;
      padding: 1rem 0.5rem;
      margin: 0 -1rem 1rem;

      @media(min-width: 768px) {
        text-align: center;
        //margin: 0 0 1rem 0;
      }

      background-color: #b2653a;
      color: var(--damit-gray-100);
    }

    margin: 0 1rem;
  }

  footer {
    text-align: center;
    opacity: .75;
    p {
      font-size: 90%;
      margin: 1rem 0;
    }
  }
}
